<h1><%= current_user.name %>'s Profile</h1>

<p>
  <a class="btn btn-danger btn-lg" href="/requests" role="button">See Your Requests</a><br />
  <a class="btn btn-danger btn-lg" href="/products" role="button">See All Products</a><br />
  <a class="btn btn-danger btn-lg" href="/requests/new" role="button">Make a request</a>
</p>
