<h2>Welcome to my Commerce App Rails Project</h2>
<ul>
  <% if user_signed_in? %>
  <p>
    <a class="btn btn-danger btn-lg" href="/requests" role="button">See Your Requests</a><br />
    <a class="btn btn-danger btn-lg" href="/products" role="button">See All Products</a><br />
    <a class="btn btn-danger btn-lg" href="/requests/new" role="button">Make a request</a>
  </p>

  <% else %>
    <li><%= link_to('Login', new_user_session_path) %></li>
    <li><%= link_to('Sign up', new_user_registration_path) %></li>
  <% end %>
</ul>
