<div>
    <li><%= link_to('View Profile', user_path(current_user)) %></li>
    <li><%= link_to('Edit your account info', edit_user_registration_path) %></li>
    <li><%= link_to('Sign Out', destroy_user_session_path, method: :delete) %></li>
</div>
